$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $grays
);

$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false,
        )
      ),
    "display-size": (
      property: font-size,
      class: display,
      values: $display-font-sizes,
      responsive: true,
      rfs: false,
    ),
    "color": map-merge(
        map-get($utilities, "color"),
        (
          values: map-merge(
              map-get(map-get($utilities, "color"), "values"),
              $all-colors
            ),
        )
      ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        lighter: $font-weight-lighter,
        light: $font-weight-light,
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        semibold: $font-weight-semibold,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
    "position": (
      property: position,
      values: static relative absolute fixed sticky,
    ),
    "top": (
      property: top,
      values: $position-values,
    ),
    "bottom": (
      property: bottom,
      values: $position-values,
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values,
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values,
    ),
    "translate-middle": (
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      ),
    ),
  )
);
