.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(4px) saturate(150%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  transition: all 0.3 ease-in-out;
}

/* From Uiverse.io by andrew-manzyk */
.loader {
  --cloud-color: rgba(85, 161, 223, 0.8);
  --arrows-color: #0044ff;
  --time-animation: 1s;
  transform: scale(1); /* You can change the size */
}

.loader #cloud {
  width: 100px;
  height: 100px;
}

.loader #cloud rect {
  fill: var(--cloud-color);
}

.loader #cloud g:nth-child(3) {
  transform-origin: 50% 72.8938%;
  fill: var(--arrows-color);
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
  animation: rotation var(--time-animation) linear infinite;
}

.loader #shapes g g circle {
  animation: cloud calc(var(--time-animation) * 2) linear infinite;
}

.loader #shapes g g circle:nth-child(2) {
  animation-delay: calc((var(--time-animation) * 2) / -3);
}

.loader #shapes g g circle:nth-child(3) {
  animation-delay: calc((var(--time-animation) * 2) / -1.5);
}

.loader svg #lines g line {
  stroke-width: 5;
  transform-origin: 50% 50%;
  rotate: -65deg;
  animation: lines calc(var(--time-animation) / 1.33) linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lines {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes cloud {
  0% {
    cx: 20;
    cy: 60;
    r: 15;
  }
  50% {
    cx: 50;
    cy: 45;
    r: 20;
  }
  100% {
    cx: 80;
    cy: 60;
    r: 15;
  }
}
